<div class="header2">
<%= link_to '書籍一覧', books_path%>
<%= link_to '登録(自動)', new_isbn_path %>
<%= link_to '未購入品一覧', search_status_index_path %>
<%= link_to '発注済み書籍一覧', now_order_index_path %>
<%= link_to '検索', searches_path %>
</div>

<h1>登録(手動)</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
