<div class="header2">
<%= link_to '書籍一覧', books_path%>
<%= link_to '登録(自動)', new_isbn_path %>
<%= link_to '登録(手動)', new_book_path %>
<%= link_to '未購入品一覧', search_status_index_path %>
<%= link_to '発注済み書籍一覧', now_order_index_path %>
</div>
<h1>検索</h1>

<%= search_form_for @q,url:searches_path do |f| %>
  <%= f.label :title_cont, "タイトル" %>
  <%= f.search_field :title_cont %>
<br>
  <%= f.label :author_cont, "著者名" %>
  <%= f.search_field :author_cont %>
<br>
  <%= f.label :publisher_cont, "出版社" %>
  <%= f.search_field :publisher_cont %>
<br>
  <%= f.label :publisher_cont, "ISBNコード" %>
  <%= f.search_field :isbn_cont %>
<br>
  <%= f.label :summary_cont, "キーワード" %>
  <%= f.search_field :summary_cont %>
  
  
  <%= f.submit "検索" %>
<% end %>

<%= render 'books/table', books: @books %>